[submodule "labour-service"]
	path = labour-service
	url = https://github.com/HansakaV/labour-service.git
[submodule "bus-service"]
	path = bus-service
	url = https://github.com/HansakaV/bus-service.git
[submodule "booking-service"]
	path = booking-service
	url = https://github.com/HansakaV/booking-service.git
